*{
    margin : 0;
}

/******HEADER*********/
header{
    font-family: 'Turret Road', cursive;
    font-size: 12px;
}
.header-wrapper{
    margin: 0 auto;
}
.title-wrapper{
    background-color: #fbc901;
    padding-left: 22%;
    padding-top: 20px;
    min-height: 90px;
}
.title-wrapper > h1{
    font-size: 46px;
}
.title-wrapper > h2{
    font-weight: 200;
    font-size: large;
    color:#41413ac2;
}
.menu-wrapper{
    background-color: #191e24;
    padding-left: 18%;
    min-height: 50px;
}

.menu-wrapper > nav > ul {
    list-style-type: none;
}

.menu-wrapper > nav > ul > li{
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
}

.menu-wrapper > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

.menu-wrapper > nav > ul > li:hover  
{
    background-color:#fbc901;
}
.menu-wrapper > nav > ul > li > a:hover{
    color: #41413a;
}


/*********************MAIN********************/

.main-wrapper{
    width: 65%;
    margin: 20px auto;
    margin-bottom: 300px;
    font-family: 'Arapey', serif;

}

.main-wrapper > img{
    width: 100%;
    height: 200px;
}

.section1{
    width: 100%;
    margin-top: 30px;
}
.section1 > article{
    width: 78%;
    background-color: #bdbdb9;
    min-height: 480px;
    float: left;
}
.section1 >article > h2{
    font-size: 30px;
}
.section1 >article > h4{
    font-size: 18px;
}

.article-details {
    line-height: 60px;
    font-style: italic;
}

.section1 > article p{
    padding-bottom: 20px;
    font-size: 12px;
}

.article-detail-link{
    color: black;
    font-size: 12px;
    padding-left: 80%;
}

.section1 > .aside-wrapper{
    float: left;
    margin-top: 47px;
    margin-left: 1%;
    width :20%;
}
.section1 > .aside-wrapper > h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.section1 > .aside-wrapper > aside{
    background-color:#fbc901;
    min-height: 400px;
}

.section1 >div > aside  ul{
    list-style-type: none;
    padding-left: 10%;
}


.section2{
    clear: both;
    width: 100%;
    padding-top: 20px;
}

.section2 > article{
    float: left;
    background-color: #bdbdb9;
}
.section2 .article1{
    width: 20%;
    min-height: 250px;
}
.section2 .article2{
    width: 56%;
    min-height: 200px;
    margin-left: 1%;
    padding: 1%;
}
.section2 .article2 h3{
    text-align: center;
    padding-bottom: 10px;
}
.section2 .article3{
    width: 20%;
    min-height: 250px;
    margin-left: 1%;
}


/*******************FOOTER************/
footer{
    margin-top: 200px;
    padding-top: 40px;
    min-height: 70px;
    text-align: center;
    font-family: 'Turret Road', cursive;
    font-size: 16px;
    background-color: #191e24;
    color: white;
    clear: both;
}