.clear{
    clear: both;
    padding-top: 30px;
}
.description-pokemon > article > img{
    float: left;
    width: 30%;
    min-height: 200px;
}
.description-pokemon > article > div{
    float: left;
    width: 65%;
    min-height: 200px;
    background: linear-gradient(to left,#fbc901,white);
    padding: 20px;
}

.article-description > h2{
    font-size: 28px;
}
.article-description > h5{
    line-height: 40px;
}
.element{
    font-size: 16px;
}

.statistiques-pokemon{
    list-style-type: none;
    padding-left: 0;
}